<ng-container *ngIf="lot">
  <div class="container">
    <div class="image"> 
      <img src={{this.urlImage0}} class="center">
    </div>
    <div class="text-block">
      <div class="name">{{lot?.name}}</div>
      <p>End of auction:<BR>{{deadline}}</p>   
      <div>
        <button class="margin-right">{{lot?.betValue}} $</button>    
        <a *ngIf="isValidAuction" (click)="onBet()">Make a bet</a>
        <p>
          Added: {{added}}
          <a *ngIf="isOwner" (click)="onEdit()">Edit</a>
          <a *ngIf="isOwner || isAdmin" (click)="onDelete()">Delete</a>
        </p>   
      </div>
      <BR>
    </div>
  </div>
</ng-container>
