<ng-container *ngIf="lot && isValidAuction">
  <div class="container">
    <div class="image"> 
      <img src={{lot.images[0]}} class="center">
    </div>
    <div class="text-block">
      <div class="name">{{lot.name}}</div>
      <p>End of auction:<BR>{{deadline}}</p>   
      <div>
        <button class="margin-right">{{lot.betValue}} $</button>    
        <a href="./auction/{{this.lot.auctionId}}">Make a bet</a>
        <p>
          <a *ngIf="isOwner" href="./lot/{{this.lot.id }}">Edit</a>
          <a *ngIf="isOwner || isAdmin" href="" (click)="onDelete()">Delete</a>
          <a *ngIf="!isOwner && !isAdmin"></a>
        </p>   
      </div>
      <BR>
    </div>
  </div>
</ng-container>
