<ng-container *ngIf="lot">
  <div class="container">
    <div class="image"> 
      <img src={{lot.images[0]}} class="center">
    </div>
    <div class="text-block">
      <div class="name">{{lot.name}}</div>
      <p>End of auction:<BR>{{deadline}}</p>   
      <div>
        <button class="margin-right">{{lot.initialPrice}} $</button>    
        <a *ngIf="!isOwner" href="./lot/{{this.lot.id}}">Make a bet</a>
        <a *ngIf="isOwner" href="./lot/edit/{{this.lot.id}}">Edit</a>
      </div>
      <BR>
    </div>
  </div>
</ng-container>
