.container{
  display: inline-flex;
  flex-wrap: wrap;
  background-color: white;
  width: 200px;
  margin: 10px;
}

.image{
  display: flexbox;
  height: 200px;
  width: 200px;
}

.text-block{
  padding: 5px;
  text-align: left;
  font-size: small;
  padding-bottom: 10px;
}

.name{
  height: 30px;
  vertical-align: top;
}

.margin-right{
  margin-right: 15px;
}

.center {
  object-fit: cover;
  width: 200px;
  height: 200px;
}

.border{
  border: 2px solid green;
}