.container {
  height: auto;
  width: auto;
  margin: auto;
  padding: 5px;
}

.img {
  position: relative;
  margin: auto;
  text-align: center;
  height: auto;
  width: auto;
}

.remove{
  position: absolute;
  right: 0px;
  height: 30px;
  width: 30px;
  border-radius: 50%;
  border: none;
  font-size: medium;
}

.remove:hover{
  background-color: rgb(194, 194, 194);
}

.img input{ 
  max-height: auto;
  max-width: auto;
  min-height: 75px;
  object-fit: cover;
  background-color: transparent;
}

.input-img {
  height: 20%;
  height: auto;
  max-height: 20%;
  margin: auto;
  font-size: large;
  text-align: center;
}


