<div class="container">
  <div class="items">
    <form class="form">
      <div class="flex">
        <div>
          <label>Name:</label>
          <input type="text" class="checkValid" name="name" [(ngModel)]="this.lot.name" required="REQUIRED" minlength="2">        
        </div>
        <div>
          <label>Description:</label>
          <textarea name="description" cols="30" rows="20" [(ngModel)]="this.lot.description"></textarea>
        </div>
        <div>
          <label>Deadline:</label>        
          <input type="datetime-local" name="deadline" [ngModel]="this.lot.deadline | date:'yyyy-MM-ddTHH:mm'" (ngModelChange)="dateChanged($event)">
        </div>
        <div>
          <label>Category:</label>
          <app-combo-box [categoryId]="lot.categoryId" (onSelectedCategory)="this.lot.categoryId=$event"></app-combo-box>
        </div>
        <div>
          <label>Initia price:</label>
          <input type="number" name="initialPrice" [(ngModel)]="this.lot.initialPrice">
        </div>         
      </div>
      <div class="images">
        <app-select-image [url]="this.lot.images[0]" accept=".jpg,.jpeg" (onChangedUrl)="this.file0 = $event"></app-select-image>
        <app-select-image [url]="this.lot.images[1]" accept=".jpg,.jpeg" (onChangedUrl)="this.file1 = $event"></app-select-image>
        <app-select-image [url]="this.lot.images[2]" accept=".jpg,.jpeg" (onChangedUrl)="this.file2 = $event"></app-select-image>
      </div>
      <div class="flex">
        <div class="submit">
          <button type="submit" (click)="save()">OK</button> 
        </div> 
      </div>      
    </form>    
  </div>
</div>
