.flex{
  display: flex;
  flex-wrap: wrap;
}

.button-block {
  height: 30px;
  margin: 5px;
}

.search{
  margin-left: 10px;
  padding-left: 5px;
}

.lot-list-scroll {
  display: block;
  height: 56rem;
  overflow-y: scroll
}