.body{
  background-color: whitesmoke;
  color: gray;
  text-align: center;
  font-size: x-large;
}
.autor-icon{
  font-size: xx-small;
}

button{
  height: 100%;
}

.button-block > div {
  display: inline-flex;
  float: left;
  height: 30px;
  margin: 5px;
  background-color: red;
}


